* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.showcase {
    background: url('./assets/scopo.jpg') center / cover no-repeat;
    height: 100vh;
}
form {
    background: #fff;

}